@(user: Option[models.User])(implicit request: RequestHeader, messages: Messages)

@listItem(route: String, label: String) = {
    <li class=@{if (request.path == route) "active" else ""}>
        <a href="@route">@label</a>
    </li>
}

<nav class="navbar navbar-inverse">

    <div class="container">

            <ul class="nav navbar-nav navbar-left">

                @listItem(routes.ApplicationController.index().toString(), "Play")

                @listItem(routes.AboutController.index().toString(), "About")

                @listItem(routes.AboutController.technologies().toString(), "Techs")

                @if(request.path == routes.GameController.index().toString()) {
                        <li>
                            <a href="@routes.GameController.reset()" id="new-game">New Game</a>
                        </li>
                }

                @user.map { u =>
                    @listItem(routes.ApplicationController.signOut.toString(), Messages("sign.out"))
                }

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brandt" href="@routes.GameController.index()">NMM</a>
                </li>
                <li>
                    <a href="@routes.LocalizationController.langDE()" title="German"><span class="flag-icon flag-icon-de flag-icon-squared"></span></a>
                </li>
                <li>
                    <a href="@routes.LocalizationController.langEN()" title="English"><span class="flag-icon flag-icon-gb flag-icon-squared"></span></a>
                </li>
            </ul>

    </div>

</nav>
