@* Arguments *@
@(x : Float, y : Float, length : Int, rotation : Int)

<script>
    // Depiction to a 0 - 7 coordinate system
    // 100 / 7 (Seven board parts)
    var x = (100 / 7) * @x;
    var y = (100 / 7) * @y;

    var connector = new mojs.Shape({
        parent: board,
        className: 'connector',
        shape: 'rect',
        radius: @length * document.getElementById("board").offsetWidth / 6, // 6 = mute
        radiusY: document.getElementById("board").offsetWidth / 100, // 90 = mute
        top: y + "%",
        left: x + "%",
        angle: @rotation,
        isShowStart: true
    });

    connector.defaultLength = @length;
    Shapes.Connector.push(connector);
</script>