@* Arguments *@
@(x : Float, y : Float, length : Int, rotation : Int)

<script>
    var x = (100 / 7) * @x;
    var y = (100 / 7) * @y;

    var connector = new mojs.Shape({
        parent: board,
        shape: 'rect',
        radius: @length * document.getElementById("board").offsetWidth / 6,
        radiusY: document.getElementById("board").offsetWidth / 90,
        top: y + "%",
        left: x + "%",
        angle: @rotation,
        isShowStart: true
    });

    connector.defaultLength = @length;
    Shapes.Connector.push(connector);
</script>