@* Arguments *@
@(x : Float, y : Float, id : String)

<script>
    // Depiction to a 0 - 7 coordinate system
    // 100 / 7 (Seven board parts)
    var x = (100 / 7) * @x;
    var y = (100 / 7) * @y;

    Shapes.Puck.@id = new mojs.Shape({
        className: 'puck',
        parent: board,
        shape: 'polygon',
        points: 6,
        strokeWidth: 3,
        radius:  document.getElementById("board").offsetWidth / 25, // 30 = mute
        left: x + "%",
        top: y + "%",
        isShowStart: false
    });

    Shapes.Puck.@{id}.el.dataset.id = "@id";

</script>