<div id="status">
  <div id="player-white">
    <div class="wrapper">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <i>Player 1</i>
    </div>
  </div>
  <div id="player-black">
    <div class="wrapper">
      <i>Player 2</i> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </div>
  </div>
</div>

<button type="button" class="btn btn-link" id="show-msg"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <i></i></button>

<div id="msg"></div>