###
# Play Framework
###

logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
*.log
bin/RUNNING_PID
project/.sbtserver
.sbtserver
.env


###
# Silhouette config file
# ! Do not check in original config with secure data
# ! Use silhouette.conf.tmpl as template and rename it
###
/conf/silhouette.conf


###
# Migrated from Silhouette Project
###
#project/project
#project/target
#tmp
#.history
#dist
#/*.iml
#/out
#/bin

