###
# Play Framework
###

logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
*.log
bin/RUNNING_PID
project/.sbtserver
.sbtserver


###
# Migrated from Silhouette Project
###
#project/project
#project/target
#tmp
#.history
#dist
#/*.iml
#/out
#/bin


