<footer class="footer navbar-fixed-bottom">

    <button type="button" class="btn btn-link" id="show-footer">Show Footer</button>

    <div class="container-fluid" id="footer">

        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">

                <div class="col-lg-4">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </div>

                <div class="col-lg-4">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </div>

                <div class="col-lg-4">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </div>

            </div>
        </div>
    </div>

</footer>