@import views.x3dom.x3dModelBase

@()

@modelDefinition(model: x3dModelBase) = {

}

<x3d id='x3dScene' showStat='false' showLog='false' x='0px' y='0px'>
    <scene>

        <directionalLight ambientIntensity='1' direction='50 -50 50' global='false' intensity='1'></directionalLight>
        <directionalLight ambientIntensity='1' direction='50 50 50' global='false' intensity='1'></directionalLight>
        <navigationInfo id="head" explorationMode="none"></navigationInfo>

        <Viewpoint id="front" position="0 0 40" orientation="0 0 0 0" description="camera" set_bind="true"></Viewpoint>
        <Viewpoint id="birg" position="0 50 0" orientation="1 0 0 -1.57" description="camera" set_bind="false"></Viewpoint>
        <Viewpoint id="zoom" position="0.21525 19.16045 11.00406" orientation="-0.92752 -0.35843 -0.10596 1.38588" zNear="0.00537" zFar="53.72820" description="camera" set_bind="false"></Viewpoint>


        <transform translation='-30 0 0' id="trafo">
            <group DEF="MODEL_PUCK" metadata='A1'>
                <inline url="@routes.Assets.versioned("x3d/nmm_puck.x3d")"> </inline>
            </group>
        </transform>


        <transform translation='-15 0 0' id="trafo">
            <group DEF="MODEL_BASE" metadata='A1' onmousemove="updateTrafo(event);">
                <inline url="@routes.Assets.versioned("x3d/nmm_only.x3d")"> </inline>
            </group>
        </transform>
        <transform translation='15 0 0'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>


        <transform translation='-10 0 0'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>
        <transform translation='10 0 0'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>


        <transform translation='-5 0 0'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>
        <transform translation='5 0 0'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>



        <transform translation="0 0 -15">
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation='-15 0 -15'>
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation='15 0 -15'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>






        <transform translation="0 0 15">
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation='-15 0 15'>
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation='15 0 15'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>






        <transform translation='-10 0 -10'>
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation="0 0 -10">
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation='10 0 -10'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>

        <transform translation='-5 0 -5'>
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation="0 0 -5">
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation='5 0 -5'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>






        <transform translation='-10 0 10'>
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation="0 0 10">
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation='10 0 10'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>

        <transform translation='-5 0 5'>
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation="0 0 5">
            <group USE='MODEL_BASE' metadata='A2'></group>
        </transform>
        <transform translation='5 0 5'>
            <group USE='MODEL_BASE' metadata='A3'></group>
        </transform>






        <transform scale="0.6 1 3.6" translation="-3.7 0 -15" rotation="0 1 0 1.57">
            <group DEF="MODEL_CONNECTOR">
                <inline url="@routes.Assets.versioned("x3d/nmm_steg.x3d")"> </inline>
            </group>
        </transform>

        <transform scale="0.6 1 2.4" translation="-2.6 0 -10" rotation="0 1 0 1.57">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>

        <transform scale="0.6 1 1.1" translation="-1 0 -5" rotation="0 1 0 1.57">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>



        <transform scale="0.6 1 2.4" translation="-2.6 0 10" rotation="0 1 0 1.57">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>

        <transform scale="0.6 1 1.1" translation="-1 0 5" rotation="0 1 0 1.57">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>

        <transform scale="0.6 1 3.6" translation="-3.7 0 15" rotation="0 1 0 1.57">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>




        <transform scale="0.6 1 2.4" translation="10 0 -2.6" rotation="0 0 0 0">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>

        <transform scale="0.6 1 1.1" translation="5 0 -1" rotation="0 0 0 0">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>

        <transform scale="0.6 1 3.6" translation="15 0 -3.7" rotation="0 0 0 0">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>



        <transform scale="0.6 1 2.4" translation="-10 0 -2.6" rotation="0 0 0 0">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>

        <transform scale="0.6 1 1.1" translation="-5 0 -1" rotation="0 0 0 0">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>

        <transform scale="0.6 1 3.6" translation="-15 0 -3.7" rotation="0 0 0 0">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>




        <transform scale="0.6 1 1.1" translation="0 0 -11" rotation="0 0 0 0">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>

        <transform scale="0.6 1 1.1" translation="0 0 9" rotation="0 0 0 0">
            <group USE='MODEL_CONNECTOR'></group>
        </transform>

    </scene>
</x3d>