<div id="status">
 
  <div id="player-white" [class.current]="currentPlayer === 'WHITE'" [style.width.%]="whiteProgress">
    <div class="wrapper">
      
      <form (ngSubmit)="onSubmit($event, playerWhiteForm, 'white')"
      [formGroup]="playerWhiteForm">
        <input type="text" id="name" title="Click to edit" value="{{white.name}}"
        [(ngModel)]="whiteName"
        [formControl]="playerWhiteForm.controls['name']">
      </form>

      <span class="state">{{white.currentState}}</span>

    </div>
  </div>

  <div id="player-black" [class.current]="currentPlayer === 'BLACK'" [style.width.%]="blackProgress">
    <div class="wrapper">

      <form (focusout)="onSubmit($event, playerBlackForm, 'black')"
      [formGroup]="playerBlackForm">
        <input type="text" id="name" title="Click to edit" value="{{black.name}}"
        [(ngModel)]="blackName"
        [formControl]="playerBlackForm.controls['name']">
      </form>

      <span class="state">{{black.currentState}}</span>

    </div>
  </div>
</div>