<div id="status">
  <div id="player-white">
    <div class="wrapper">
      <form (ngSubmit)="onSubmit(playerWhiteForm, 'white')" [formGroup]="playerWhiteForm">
        <input type="text" id="name" title="Click to edit" value="{{whiteName}}"
        [(ngModel)]="whiteName"
        [formControl]="playerWhiteForm.controls['name']">
      </form>
    </div>
  </div>
  <div id="player-black">
    <div class="wrapper">
      <form #b="ngForm" (ngSubmit)="onSubmit(playerBlackForm, 'black')" [formGroup]="playerBlackForm">
        <input type="text" id="name" title="Click to edit" value="{{blackName}}"
        [(ngModel)]="blackName"
        [formControl]="playerBlackForm.controls['name']">
      </form>
    </div>
  </div>
</div>

<button type="button" class="btn btn-link" id="show-msg"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <i></i></button>

<div id="msg"></div>
