@import "lib/bootstrap/less/bootstrap.less";
@import "_variables.less";
@import "board.less";

.window #logo {
    filter: invert(100%);
    width: 120px;
    margin-bottom: 20px;
}

img {
    user-select: none;
}

a {
    .transition(@transition)
}

a:active {
    color: green;
}

cite {
    font-style: normal;
}

.navbar-inverse {
    background-color: @background-color;
    margin-bottom: 0;
    color: @background-font-color;
}

.window {
    text-align: center;
    padding: 60px 0;
    color: @background-font-color;
    background-color: @background-color;
}

.window a {
    text-decoration: underline;
}

.content {
    padding: 60px 0;
}

.panel {
    border: none;
    margin-bottom: 10px;

    .panel-footer {
        background-color: @gray;
    }
}

.panel blockquote {
    border: none;
}

.panel-info {
    background-color: @color-info;
    margin: 20px 0;
    color: @color-font-info;
}

footer {
    background-color: @background-color;
    color: @background-font-color;
    padding: 60px 0;
}