@* Arguments *@
@()


@*
* Call Main Template
* Page Title: About
*@
@main("About") {

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 window">

            <div class="container col-lg-6 col-lg-offset-3">

                <h1><img title="Nine Men's Morris" id="logo" alt="Nine Men's Morris" src="/assets/images/nmmLogo.png"></h1>

                <h2>Deceptively Easy. Surprisingly deep.</h2>

            </div>

        </div>

        <div class="col-lg-12">

            <div class="container col-lg-8 col-lg-offset-2">
                <div id="about" class="content">

                    <h3>Start Quickly—play indefinitely</h3>

                    <div class="panel panel-info">
                        <blockquote>
                            The players determine who plays first, then take turns placing their men one per play on empty points.
                            If a player is able to place three of his pieces on contiguous points in a straight line, vertically or horizontally,
                            he has formed a mill and may remove one of his opponent's pieces from the board and the game.
                        </blockquote>
                        <div class="panel-footer"><cite><a href="">From Wikipedia, the free encyclopedia</a></cite></div>

                    </div>

                    <h3>Indepth</h3>
                    <h4>Phase 1: SET</h4>

                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

                    <h4>Phase 2: MOVE</h4>

                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

                    <h4>Phase 3: HOP</h4>

                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

                    <h3>Nine Men's Morris has a long and rich history</h3>

                    <div class="panel panel-info">
                        <blockquote>
                            According to R. C. Bell, the earliest known board for the game includes diagonal lines and was "cut into the roofing slabs of the temple at Kurna in Egypt" c. 1400 BCE.
                            However, Friedrich Berger writes that some of the diagrams at Kurna include Coptic crosses, making it "doubtful" that the diagrams date to 1400 BCE.
                            Berger concludes, "certainly they cannot be dated."
                        </blockquote>

                        <div class="panel-footer"><cite><a href="">From Wikipedia, the free encyclopedia</a></cite></div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

@helper.blocks.playButton()

}