@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("About") {

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 window">

            <div class="container">

                <h1>Learn about Nine Men's Morris</h1>

                <h2>Read about the game instructions or <a href="">watch a video</a>.</h2>

            </div>

        </div>

        <div class="col-lg-12">

            <div class="container">
                <div class="content">

                    While not difficult, NMM allows for a range of ingenious tactics that one wouldn't recon with.

                    <blockquote>
                        The players determine who plays first, then take turns placing their men one per play on empty points.
                        If a player is able to place three of his pieces on contiguous points in a straight line, vertically or horizontally,
                        he has formed a mill and may remove one of his opponent's pieces from the board and the game.
                        <cite><a href="">From Wikipedia</a></cite>
                    </blockquote>

                    <h2>Phases</h2>
                    <h3>Phase 1: SET</h3>

                    <h3>Phase 2: MOVE</h3>

                    <h3>Phase 3: HOP</h3>

                    <h2>History</h2>

                    Nine Men's Morris has a long and rich history, to quote Wikipedia:

                    <blockquote>
                        According to R. C. Bell, the earliest known board for the game includes diagonal lines and was "cut into the roofing slabs of the temple at Kurna in Egypt" c. 1400 BCE.
                        However, Friedrich Berger writes that some of the diagrams at Kurna include Coptic crosses, making it "doubtful" that the diagrams date to 1400 BCE.
                        Berger concludes, "certainly they cannot be dated."
                        <cite><a href="">From Wikipedia</a></cite>
                    </blockquote>

                </div>
            </div>

        </div>
    </div>
</div>

}