@* Arguments *@
@(user: models.User)(implicit request: RequestHeader, messages: Messages)


@styles = {
    <link href="@routes.Assets.versioned("angular/stylesheets/styles.bundle.css")" rel="stylesheet">
}

@scripts = {
    <script type="text/javascript" src="@routes.Assets.versioned("angular/scripts/inline.bundle.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("angular/scripts/vendor.bundle.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("angular/scripts/main.bundle.js")"></script>
}

@*
* Call Main Template
* Page Title: Play
*@
@main("Angular2", Some(user), styles, scripts) {

    <app-root>
        <div id="loading">
            <img title="Nine Men's Morris" id="logo" alt="Nine Men's Morris" src="@routes.Assets.versioned("images/nmmLogo.png")">
        </div>
    </app-root>

}
