@(message: String)


<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html;charset=utf-8'></meta>
        <link rel='stylesheet' type='text/css' href='http://www.x3dom.org/x3dom/release/x3dom.css'></link>
        <script type='text/javascript' src='http://www.x3dom.org/x3dom/release/x3dom.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <style>
        body {
            background-repeat: repeat;
            background-color: black;
        }
        #x3dScene {
            width: 100%;
            height: 100vh;
            border: none;
        }

        h1 {
            margin: 50px auto;
            text-align: center;
            text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
            color: #333;
            opacity: 0.4;
            font: 700 80px 'Arial Black';
        }
        </style>

        <script type='text/javascript'>
        //Handle click on a shape
        function handleSingleClick(shape) {
            alert($(shape).attr("metadata"));
        }

        $(document).ready(function(){
            //Add a onclick callback to every shape
            $("group").each(function() {
                $(this).attr("onclick", "handleSingleClick(this)");
            });
        });

        function updateTrafo(event) {
            alert("foo");
            var t = document.getElementById('trafo');
            var norm = new x3dom.fields.SFVec3f(event.normalX, event.normalY, event.normalZ);
            var qDir = x3dom.fields.Quaternion.rotateFromTo(new x3dom.fields.SFVec3f(0, 1, 0), norm); var rot = qDir.toAxisAngle();
            t.setAttribute('rotation', rot[0].x+' '+rot[0].y+' '+rot[0].z+' '+rot[1]);
            t.setAttribute('translation', event.worldX+' '+event.worldY+' '+event.worldZ);
        }
    </script>
    </head>
    <body>
        <h1>NMM</h1>
        <div>
            <x3d id='x3dScene' showStat='false' showLog='false' x='0px' y='0px'>
                <scene>

                    <directionalLight ambientIntensity='0' direction='50 -50 50' global='false' intensity='1' shadowIntensity='1' >
</directionalLight>

                    <Viewpoint id="birg" position="0 50 0" orientation="1 0 0 -1.57" description="camera"></Viewpoint>



                    <transform translation='-15 0 0' id="trafo">
                        <group DEF="MODEL_BASE" metadata='A1' onmousemove="updateTrafo(event);">
                            <inline url="@routes.Assets.versioned("x3d/nmm_only.x3d")"> </inline>
                        </group>
                    </transform>
                    <transform translation='15 0 0'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>


                    <transform translation='-10 0 0'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>
                    <transform translation='10 0 0'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>


                    <transform translation='-5 0 0'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>
                    <transform translation='5 0 0'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>



                    <transform translation="0 0 -15">
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation='-15 0 -15'>
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation='15 0 -15'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>






                    <transform translation="0 0 15">
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation='-15 0 15'>
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation='15 0 15'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>






                    <transform translation='-10 0 -10'>
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation="0 0 -10">
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation='10 0 -10'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>

                    <transform translation='-5 0 -5'>
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation="0 0 -5">
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation='5 0 -5'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>






                    <transform translation='-10 0 10'>
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation="0 0 10">
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation='10 0 10'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>

                    <transform translation='-5 0 5'>
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation="0 0 5">
                        <group USE='MODEL_BASE' metadata='A2'></group>
                    </transform>
                    <transform translation='5 0 5'>
                        <group USE='MODEL_BASE' metadata='A3'></group>
                    </transform>






                    <transform scale="0.6 1 3.6" translation="-3.7 0 -15" rotation="0 1 0 1.57">
                        <group DEF="MODEL_CONNECTOR">
                            <inline url="@routes.Assets.versioned("x3d/nmm_steg.x3d")"> </inline>
                        </group>
                    </transform>

                    <transform scale="0.6 1 2.4" translation="-2.6 0 -10" rotation="0 1 0 1.57">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>

                    <transform scale="0.6 1 1.1" translation="-1 0 -5" rotation="0 1 0 1.57">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>



                    <transform scale="0.6 1 2.4" translation="-2.6 0 10" rotation="0 1 0 1.57">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>

                    <transform scale="0.6 1 1.1" translation="-1 0 5" rotation="0 1 0 1.57">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>

                    <transform scale="0.6 1 3.6" translation="-3.7 0 15" rotation="0 1 0 1.57">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>




                    <transform scale="0.6 1 2.4" translation="10 0 -2.6" rotation="0 0 0 0">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>

                    <transform scale="0.6 1 1.1" translation="5 0 -1" rotation="0 0 0 0">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>

                    <transform scale="0.6 1 3.6" translation="15 0 -3.7" rotation="0 0 0 0">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>



                    <transform scale="0.6 1 2.4" translation="-10 0 -2.6" rotation="0 0 0 0">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>

                    <transform scale="0.6 1 1.1" translation="-5 0 -1" rotation="0 0 0 0">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>

                    <transform scale="0.6 1 3.6" translation="-15 0 -3.7" rotation="0 0 0 0">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>




                    <transform scale="0.6 1 1.1" translation="0 0 -11" rotation="0 0 0 0">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>

                    <transform scale="0.6 1 1.1" translation="0 0 9" rotation="0 0 0 0">
                        <group USE='MODEL_CONNECTOR'></group>
                    </transform>

                </scene>
            </x3d>
        </div>
    </body>
</html>