@* Arguments *@
@(title: String, user: Option[models.User] = None, scripts: Html = Html(""))(content: Html)(implicit request: RequestHeader, messages: Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NMM - @title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">



    </head>
    <body>
        @navbar.navbar(user)

        @request.flash.get("error").map { msg =>
            <div class="col-md-6 col-md-offset-3 alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@Messages("error")</strong> @msg
            </div>
        }
        @request.flash.get("info").map { msg =>
            <div class="col-md-6 col-md-offset-3 alert alert-info">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@Messages("info")</strong> @msg
            </div>
        }
        @request.flash.get("success").map { msg =>
            <div class="col-md-6 col-md-offset-3 alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@Messages("success")</strong> @msg
            </div>
        }

        @content

        @footer.footer()

        @* Global Scripts *@
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
        <script src="@routes.Assets.versioned("scripts/Board.js")"></script>
        <script src="@routes.Assets.versioned("scripts/Junction.js")"></script>
        <script src="@routes.Assets.versioned("scripts/Puck.js")"></script>
        <script src="@routes.Assets.versioned("scripts/Connector.js")"></script>
        <script src="@routes.Assets.versioned("scripts/zxcvbnShim.js")"></script>

        @* Dynamic Scripts *@
        @scripts

        @* TODO: Should only be shown on /play *@
        @board.boardScripts()
    </body>
</html>
