@* Arguments *@
@()

@* Imports *@
@import views.helper.x3dom.JsonParser

@* Dynamic Scripts *@
@scripts = {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type='text/javascript' src='http://www.x3dom.org/x3dom/release/x3dom.js'></script>
}

@*
* Call Main Template
* Page Title: x3Dom
*@
@main("x3Dom", scripts) {
    <div class="container-fluida">
        <div class="row">
        <x3d id="x3dScene" showStat="false" showLog="false" class="col-lg-12 window">
            <scene>

                <directionalLight ambientIntensity='1' direction='50 -50 50' global='false' intensity='1'></directionalLight>
                <directionalLight ambientIntensity='1' direction='50 50 50' global='false' intensity='1'></directionalLight>
                <navigationInfo id="head" explorationMode="all"></navigationInfo>

                <Viewpoint id="birg" position="0 50 0" orientation="1 0 0 -1.57" description="camera" set_bind="true"></Viewpoint>
                <Viewpoint id="front" position="0 0 40" orientation="0 0 0 0" description="camera" set_bind="false"></Viewpoint>
                <Viewpoint id="zoom" position="0.21525 19.16045 11.00406" orientation="-0.92752 -0.35843 -0.10596 1.38588" zNear="0.00537" zFar="53.72820" description="camera" set_bind="false"></Viewpoint>


                <transform translation='-30 0 0' id="trafo">
                    <group DEF="MODEL_PUCK" metadata='A1'>
                        <inline url="@routes.Assets.versioned("x3d/nmm_puck.x3d")"> </inline>
                    </group>
                </transform>



                <transform render="false">
                    <group DEF="MODEL_BASE">
                        <inline url="@routes.Assets.versioned("x3d/nmm_only.x3d")"> </inline>
                    </group>


                    <group DEF="MODEL_CONNECTOR">
                        <inline url="@routes.Assets.versioned("x3d/nmm_steg.x3d")"> </inline>
                    </group>
                </transform>



                @for(modelBase <- JsonParser.modelBaseList) {
                    <transform translation="@modelBase.translation.x @modelBase.translation.y @modelBase.translation.z">
                        <group render="true" USE="MODEL_BASE" metadata="@modelBase.id"></group>
                    </transform>
                }

                @for(modelConn <- JsonParser.modelConnList) {
                    <transform
                    scale="@modelConn.scale.x @modelConn.scale.y @modelConn.scale.z"
                    translation="@modelConn.translation.x @modelConn.translation.y @modelConn.translation.z"
                    rotation="@modelConn.rotation.x @modelConn.rotation.y @modelConn.rotation.z @modelConn.rotation.w"
                    >
                        <group USE="MODEL_CONNECTOR"></group>
                    </transform>
                }



            </scene>
        </x3d>
        </div>
    </div>
}