@import "../../../variables";

:host @{deep} div {
  z-index: 2;
}

.white {
  path {
    fill: @player-white-color;
    stroke: white;
  }
}

.black {
  path{
    fill: @player-black-color;
    stroke: black;
  }
}

.hidden {
  display: none;
}