<div id="status">
  <div id="player-white">
    <div class="wrapper">
      <span data-man="WHITE" title="Click to edit">Player 1
        <input type="text" data-man="WHITE" />
      </span>
    </div>
  </div>
  <div id="player-black">
    <div class="wrapper">
      <span data-man="BLACK" title="Click to edit">Player 2
        <input type="text" data-man="BLACK" />
      </span>
    </div>
  </div>
</div>

<button type="button" class="btn btn-link" id="show-msg"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <i></i></button>

<div id="msg"></div>
