<div id="status">
  <div id="player-white">
    <div class="wrapper">
      <form (ngSubmit)="onSubmit()" [formGroup]="playerForm">
        <input type="text" name="WHITE" id="name" title="Click to edit" value="{{whiteName}}"
        [(ngModel)]="whiteName"
        [formControl]="playerForm.controls['name']">
      </form>
    </div>
  </div>
  <div id="player-black">
    <div class="wrapper">
      <form (ngSubmit)="onSubmit()" [formGroup]="playerForm">
        <input type="text" name="BLACK" id="name" title="Click to edit" value="{{blackName}}"
        [(ngModel)]="blackName"
        [formControl]="playerForm.controls['name']">
      </form>
    </div>
  </div>
</div>

<button type="button" class="btn btn-link" id="show-msg"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <i></i></button>

<div id="msg"></div>
